.header-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  
  height: 7.25rem;

  display: flex;
  align-items: center;
}

.header-brand {
  width: 16rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}